# First Steps with Python and Jupyter 

![](https://i.imgur.com/gvSnw4A.png)

This tutorial covers the following topics:

* Performing arithmetic operations using Python
* Solving multi-step problems using variables
* Evaluating conditions using Python
* Combining conditions with logical operators
* Adding text styles using Markdown

**Useful Links**
1. [Mark down ](https://jovian.com/outlink?url=https%3A%2F%2Flearnxinyminutes.com%2Fdocs%2Fmarkdown%2F)
2. [Aithmetic problems to practice ](https://jovian.com/outlink?url=https%3A%2F%2Fwww.math-only-math.com%2Fworksheet-on-word-problems-on-four-operations.html)
3. [Ternary operator](https://jovian.com/outlink?url=https%3A%2F%2Fdata-flair.training%2Fblogs%2Fpython-ternary-operator%2F)

### Performing arithmetic operations using Python

In [ ]:
# Addition
12.7 + 3 + 9

In [ ]:
# Subtraction
27 - 15

In [ ]:
# Multiplication
8.989*-9

In [ ]:
#Division
6/2

In [ ]:
# To get quotient alsone
9//2

In [ ]:
# Exponential power operator
5**4

In [ ]:
# Remainder
5%8

In [ ]:
((2 + 5) * (17 - 3)) / (4 ** 3)

Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |


Try solving some simple problems from this page:
https://www.math-only-math.com/worksheet-on-word-problems-on-four-operations.html . 

You can use the empty cells below and add more cells if required.

<body>Arithmetic operators in programming languages follow the rules of precedence, which determine the order in which operations are performed in an expression. The following is the typical order of precedence for arithmetic operators, from highest to lowest:<body>

1. Parentheses: Operations inside parentheses are evaluated first. You can also use nested parentheses to further control the order of evaluation.

2. Exponentiation: Operators like ^ or **, if supported, perform exponentiation.

3. Multiplication, Division, and Remainder: Multiplication *, division /, and remainder % operations are evaluated next. They have the same precedence level and are evaluated left to right.

4. Addition and Subtraction: Addition + and subtraction - operations are evaluated last. Like multiplication and division, they have the same precedence level and are evaluated left to right.

<b>Variables<b>: While working with a programming language such as Python, information is stored in variables. You can think of variables as containers for storing data. The data stored within a variable is called its value.

<p style="color: rgb(255, 0, 0);"> 1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.</p>

In [ ]:
population = 198568
men = 45312
women = 35678

In [ ]:
children = population-men - women
print('The number of children in the town =',children)

<p style="color: rgb(255, 0, 0);">2. Maria bought 96 toys priced equally for 12960. The amount of 1015 is still left with her. Find the cost of each toy and the amount she had.</p>

In [ ]:
total_toys = 96
price_of_96_toys = 12960
the_amount_left =1015

In [ ]:
price_of_each_toy = price_of_96_toys/total_toys
print('The cost of each toy =$',price_of_each_toy)

In [ ]:
amount_she_had = price_96_toys+the_amount_left
print('The amount she had =$',amount_she_had)

<p style="color: rgb(255, 0, 0);">3. A factory produces 24532 bulbs in a month. What is its annual production? </p>

In [ ]:
total_bulbs_produced_per_month = 24532
total_months_per_year = 12
annual_production = total_bulbs_produced_per_month*total_months_per_year
print('Annual production of bulbs = ',annual_production)

<p style="color: rgb(255, 0, 0);">4. 1575 students of a school want to go Agra by bus. If one bus can carry 75 students, how many buses are required to carry all the students?</p>

In [ ]:
total_students_want_to_go_Agra = 1575
students_carried_per_bus = 75
total_buses_required = 1575/75
print('Total number of buses required to carry all the students = ', total_buses_required)

<p style="color: rgb(255, 0, 0);">5. A grocery store sells a bag of ice for $1.25 and makes a 20% profit. If it sells 500 bags of ice, how much total profit does it make?</p>

In [ ]:
price_of_a_ice_bag = 1.25
profit_per_ice_bag = price_of_a_ice_bag*0.2
total_icebags = 500
total_profit = profit_per_ice_bag * 500
print('Total profit =$',total_profit)

<b>Functions: A function is a reusable set of instructions. It takes one or more inputs, performs certain operations, and often returns an output. Python provides many in-built functions like print and also allows us to define our own functions.</b>
<br><b>print</b>: The print function is used to display information. It takes one or more inputs, which can be text (within quotes, e.g., "this is some text"), numbers, variables, mathematical expressions, etc. We'll learn more about variables & functions in the next tutorial.

#Store input data in variables
<br>cost_of_ice_bag = 1.25
<br>profit_margin = .2
<br>number_of_bags = 500

#Perform the required calculations
<br>profit_per_bag = cost_of_ice_bag * profit_margin
<br>total_profit = number_of_bags * profit_per_bag

#Display the result
<br>print("The grocery store makes a total profit of $", total_profit)

Note that we're using the `#` character to add *comments* within our code. 

> **Comments**: Comments and blank lines are ignored during execution, but they are useful for providing information to humans (including yourself) about what the code does. Comments can be inline (at the end of some code), on a separate line, or even span multiple lines. 

Inline and single-line comments start with `#`, whereas multi-line comments begin and end with three quotes, i.e. `"""`. Here are some examples of code comments:

<p style="color: rgb(255, 0, 0);"> EXERCISE</p> A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
total_people = 29
cost_per_ticket = 200
actual_totl_costs = 5000
total_costs = total_people*cost_per_ticket
print('Total_costs =',total_costs)

In [ ]:
profit = total_costs - actual_totl_costs
print(f'The profit made by the company is {profit} dollars')

## Evaluating conditions using Python

Apart from arithmetic operations, Python also provides several operations for comparing numbers & variables.

| Operator    | Description                                                     |
|-------------|-----------------------------------------------------------------|
| `==`        | Check if operands are equal                                     |
| `!=`        | Check if operands are not equal                                 |
| `>`         | Check if left operand is greater than right operand             |
| `<`         | Check if left operand is less than right operand                |
| `>=`        | Check if left operand is greater than or equal to right operand |
| `<=`        | Check if left operand is less than or equal to right operand    |

The result of a comparison operation is either `True` or `False` (note the uppercase `T` and `F`). These are special keywords in Python. Let's try out some experiments with comparison operators.

In [ ]:
my_birth_year = 2000

In [ ]:
current_year = 2024

In [ ]:
my_birth_year == current_year

In [ ]:
my_birth_year >= current_year

In [ ]:
my_birth_year <= current_year

In [ ]:
age = current_year - my_birth_year > 20

In [ ]:
print('Is my age greater than 20 ?',age )

In [ ]:
my_birth_year != current_year

## Combining conditions with logical operators

The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values (also known as *booleans*). `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

In [ ]:
my_birth_year <2005 and current_year>2005

In [ ]:
my_birth_year == 2000 or current_year > 2024

In [ ]:
my_birth_year != 2000 or current_year > 2024

In [ ]:
not my_birth_year == 2001

In [ ]:
not current_year == 2024

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
True or True

In [ ]:
False and False

<b>Here 0 = False and non zero = True

In [ ]:
0 and 1

In [ ]:
0 and 0

In [ ]:
1 and 1

In [ ]:
1 or 5

In [ ]:
7 and 8

In [ ]:
0 or 8

In [ ]:
0 or 0

In [ ]:
(1 < 0 and True)

In [ ]:
(2 > 3 and 4 <= 5) or not (1 < 0 and True)

In [ ]:
(2 > 3 and 4 <= 5)